{% extends 'base.html.twig' %}

{% block title %}Modifier mon mots de passe - Sitraka boutique{% endblock %}

{% block content %}
<h1 data-aos="fade-down">Modifier mon mots de passe</h1>
<a href="{{ path('account') }}" data-aos="fade-down">Retourner à mon compte</a>
<hr data-aos="fade-down">
{% if notification %}
	<div class="alert alert-danger" data-aos="fade-down">{{ notification }}</div>
{% endif %}
<div class="block-small" data-aos="fade-down">
	{{ form(form) }}
	<hr data-aos="fade-down">
</div>
{% endblock %}